%li.content-right__chatsholder--chatspace--onechat
  .username
    = message.user.name
  .chatdate
    = message.created_at
  - if message.text
    .chattext
      = message.text
  - if message.image
    = image_tag(message.image)
