= link_to group_messages_path(group) do
  %li.content-left__group--chat
    .content-left__group--chat--groupname
      = group.name
    .content-left__group--chat--groupmessage
      = group.messages.last.try(:text) || "まだメッセージはありません。"