!!!
%haml
  %head
  %body
    .content
      .content-left
        .content-left__user--name
          %h4 ichiro-iwasaki
          %i.fa.fa-gear
          %i.fa.fa-pencil-square-o
        .content-left__group--name sample
        .content-left__group--message good bye world!
      .content-right
        .content-right__group
          .content-right__group--groupzone
            .content-right__group--groupzone--name sampleグループ
            .content-right__group--groupzone--member Members: ichro-iwasaki
          .content-right__group--editbuttom Edit
        .content-right__chatsholder
          .content-right__chatsholder--onechat
            .content-right__chatsholder--onechat--firstspace
            .content-right__chatsholder--onechat--username ichiro-iwasaki
            .content-right__chatsholder--onechat--chatdate 2017/3/17 22:33:44
            .content-right__chatsholder--onechat--chattext よろしくお願いしまああああああああす！
        .content-right__bottom-bar
          %input(type="text" placeholder="type a message")
          %i.fa.fa-image
          .content-right__bottom-bar--sendbuttom
            %p send





