!!!
%haml
  %head
  %body
    .content
      .content-left
        .content-left__user--name
          %h4 ichiro-iwasaki
          %i.fa.fa-gear
          %i.fa.fa-pencil-square-o
        %ul.content-left__group
          %li.content-left__group--firstspace
          - @groups.each do |group|
            = render partial: "groups", locals: {group: group}
          / %li.content-left__group--chat
          /   .content-left__group--chat--groupname sample
          /   .content-left__group--chat--groupmessage good bye world!
          / %li.content-left__group--chat
          /   .content-left__group--chat--groupname sample2
          /   .content-left__group--chat--groupmessage hello,world
      .content-right
        .content-right__group
          .content-right__group--groupzone
            .content-right__group--groupzone--name sampleグループ
            .content-right__group--groupzone--member Members: ichro-iwasaki haruki-yasui takato-tubouti
          .content-right__group--editbuttom Edit
        .content-right__chatsholder
          .content-right__chatsholder--firstspace
          %ul.content-right__chatsholder--chatspace
            %li.content-right__chatsholder--chatspace--onechat
              .username ichiro-iwasaki
              .chatdate 2017/3/17 22:33:44
              .chattext よろしくお願いしまああああああああす！
            %li.content-right__chatsholder--chatspace--onechat
              .username ichiro-iwasaki
              .chatdate 2017/3/23 11:33:45
              .chattext THIS IS MY CHAT-SPACE
        .content-right__bottom-bar
          %input(type="text" placeholder="type a message")
          %i.fa.fa-image
          .content-right__bottom-bar--sendbuttom
            %p send
